/****************************
GENERAL
****************************/
a{
    text-decoration: none;
}
body{
    font-family: 'Caveat Brush', San-serif
}

#wrapper {
    /*max width is related to width. 
    but instead of width, max width gives us the flexibility 
    that it can be smaller for mobile devices*/
    max-width: 940px;
    /*margin 0 is for all sides*/
    margin: 0 auto;
    background-color: cadetblue;
    padding: 0 5%;
}

h3{
    margin: 0 0 1em 0;
    
}

/******************************
HEADER
******************************/
header{
    float: left;
    margin: 0 0 30px 0;
    width: 100%;
}

#logo{
    /*our name and description of who we are.*/
    text-align: center;
    margin: 0;
}

h1{
    font-family: 'Caveat Brush', san-serif;
    margin: 15px 0;
    font-size: 1.75em;
}

h2{
    font-size: 0.75em;
    /*first value is for top. second value for left & right.
    third value for bottom.*/
    margin: -5px 0 0;
    font-weight: normal;
}

/******************************
NAVIGATION
******************************/
nav{
    text-align: center;
    padding: 10px 0;
    margin: 20px 0 0;
}

nav ul{
    list-style: none;
    padding: 10px 0;
    margin: 0 10px;
}

nav li{
    display: inline-block;
}

nav  a{
    font-weight: 800;
    padding: 15px 10px;
}

/******************************
FOOTER
******************************/
footer{
    font-size: 0.75;
    text-align: center;
    padding-top: 50px;
    color:  darkcyan;
}
.social-media-icon{
    width: 20px;
    height:  20px;
    margin: 0 5px;
}

/****************************
PAGE PORTFOLIO
****************************/
#gallery{
    margin: 0;
    padding: 0;
    list-style: none;
}

#gallery li{
    float: left;
    width: 45%;
    margin: 2.5%;
    background-color: #dimgrey;
    color: #darkcyan;
    
}

#gallery li a p{
    margin: 0;
    padding: 5%;
    font-size: 0.75em;
    color: white;
}

/****************************
ABOUT ME PAGE
****************************/
.profile-photo{
    display: block;
    max-width: 0 auto 30px;
    border-radius: 15%
}

/****************************
CONTACT PAGE
****************************/

.contact-info a{
    display: block;
    min-height: 20px;
    background-repeat: no-repeat;
    background-size: 20px  20px;
    padding: 0 0 0 30px;
    margin: 0 0 10px;
}

.contatc-info li.mail a{
    background-image: url ('../img/mail-2-512.png');
}
.contatc-info li.twitter a{
    background-image: url ('../img/twitter_icon.png');
}

/****************************
COLORS
****************************/
body{
    background-color: dimgrey;
    color: white;
}

a{
    color: darkcyan;
}

header{
    background: darkcyan;
}

h1, h2 {
    color:white;
}

nav{
    background: cadetblue
}

/*Pseudo-Class */
nav a, nav a:visited{
    color: white;
}

nav a.selected, nav a:hover {
    color: darkcyan;
}

/****************************
MEDIA QUERIE
****************************/
/*TWO COLUMN LAYOUT*/

@media screen and (min-width: 480px) {
    #primary{
        width:  50%;
        float:left;     
    }
    #secondary{
       width: 40%;
       float:right;
    }
   /*ABOUT PAGE*/
   .profile-photo{
       float: left;
       margin: 0 5% 88px 0;
   }
}

@media screen and (min-width: 660px){
    /*NAV*/
    nav{
        background: none;
        float: right;
        font-size: 1.125em;
        margin-right:5%;
        text-align: right;
        width: 45%;
     }
     #logo {
         float: left;
         margin-left: 5%;
         text-align: left;
         width: 45%;
     }
     h1{
         font-size: 2.53m;
     }
     h2{
        font-size: 0.825em;
        margin-bottom: 20px;
     }
     header{
         border-bottom: 5px solid black;
         margin-bottom: 60px;
     }
}